<div *ngIf="!data.AG_ID; else detailButton">
	<button
		class="btn-style"
		color="primary"
		mat-stroked-button=""
		type="button"
		ng-reflect-color="primary"
		(click)="openAgreementFormNew(data)">
		<span class="mat-button-wrapper">
			<span class="ng-star-inserted">{{ "SEND_OFFER" | oTranslate }}</span>
		</span>
	</button>
</div>

<div>
	<ng-template #detailButton>
		<button
			class="btn-style"
			color="primary"
			mat-stroked-button=""
			type="button"
			ng-reflect-color="primary"
			(click)="openAgreementFormDetail(data)">
			<span class="mat-button-wrapper">
				<span class="ng-star-inserted">{{ "VIEWDETAIL" | oTranslate }}</span>
			</span>
		</button>
	</ng-template>
</div>
