<div style="display: flex; flex-direction: column">
	<o-table
		fxFlex
		attr="table"
		title="{{ 'RECEIVED_MESSAGES' | oTranslate }}"
		columns="M_ID;U_EMITTER;M_MESSAGE;C_ID;A_TITLE;S_NAME"
		visible-columns="A_TITLE;U_EMITTER;M_MESSAGE;S_NAME"
		service="conversations"
		entity="conversationMessageReceiver"
		keys="C_ID"
		delete-button="no"
		insert-button="no"
		sort-columns="M_ID:DESC"
		show-table-buttons-text="no"
		show-title="yes"
		auto-adjust="true"
		virtual-scroll="no">
		<o-table-column attr="A_TITLE" title="A_TITLE" multiline="yes" width="auto"></o-table-column>
		<o-table-column
			attr="U_EMITTER"
			title="U_EMITTER"
			multiline="yes"
			width="auto"></o-table-column>
		<o-table-column
			attr="M_MESSAGE"
			title="M_MESSAGE"
			multiline="yes"
			tooltip="yes"></o-table-column>
	</o-table>
	<o-table
		fxFlex
		attr="table"
		title="{{ 'SENT_MESSAGES' | oTranslate }}"
		columns="M_ID;U_EMITTER;M_MESSAGE;USER_;A_TITLE;S_NAME"
		visible-columns="A_TITLE;USER_;M_MESSAGE;S_NAME"
		service="conversations"
		entity="conversationMessageEmitter"
		keys="C_ID"
		delete-button="no"
		insert-button="no"
		sort-columns="M_ID:DESC"
		show-title="yes"
		horizontal-scroll="false"
		auto-adjust="true"
		virtual-scroll="no">
		<o-table-column attr="A_TITLE" title="A_TITLE" multiline="yes" width="auto"></o-table-column>
		<o-table-column attr="USER_" title="PROFESSIONAL" multiline="yes" width="auto"></o-table-column>
		<o-table-column
			attr="M_MESSAGE"
			title="M_MESSAGE"
			multiline="yes"
			tooltip="yes"></o-table-column>
	</o-table>
</div>
