.noService {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	align-self: center;
	position: relative;
}

.title {
	font-size: 2em;
}

.idk {
	margin-top: 20px;
	animation: aparecerDesdeAbajo 1s ease-out;
}

.myFirstServiceButton {
	position: absolute;
	top: 60%;
	left: 47%;
	font-weight: bold;
	padding: 15px 30px;
	border: 2px solid #ffffff;
	border-radius: 15px;
	font-size: 1.2em;
	background-color: rgba(255, 200, 71, 0.8);
	box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
	animation: sombreadoNenon 1.5s infinite alternate;
	animation: aparecerDesdeAbajo 1s ease-out;
}

@keyframes aparecerDesdeAbajo {
	from {
		opacity: 0;
		transform: translateY(50px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes sombreadoTexto {
	from {
		text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	}
	to {
		text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
	}
}

@keyframes sombreadoNenon {
	from {
		box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
	}
	to {
		box-shadow: 0px 0px 20px rgba(187, 19, 19, 0.8);
	}
}
