.o-form {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	max-width: 80%;
	height: auto;
	margin: 0 auto;
	margin-top: 25px;
}

.serviceDetailContainer {
	overflow: hidden;
}

.o-integer-input,
.o-combo,
.o-text-input,
.o-textarea-input,
.o-checkbox {
	margin-bottom: 15px;
}

.o-integer-input,
.o-text-input,
.o-textarea-input {
	width: 100%;
}

.o-form-toolbar-button-insert {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 4px;
	cursor: pointer;
}
.mapDetailService {
	z-index: 1;
	border: 3px solid #ffc847;
	height: 350px;
	width: 95%;
}
.marker {
	z-index: 2;
}

.serviceDetailMapContainer {
	display: flex;
	align-self: flex-end;
	flex-direction: column;
	margin-left: 5%;
}

.serviceDetailMapContainer span {
	display: block;
	margin-bottom: 10px;
}

#serviceDetailFormData {
	height: 3vh;
	margin-top: 0.6vh;
}

.serviceDetailEditableContainer {
	margin-top: 1vh;
	margin-bottom: 4vh;
}
