.detailCard:hover {
	cursor: context-menu;
}

.textArea {
	padding: 0px;
	margin: 0px;
	max-width: 100%;
	line-height: 1.5;
	border-radius: 5px;
}
.textArea:hover {
	background-color: #e9e9e9;
	transition: 0.5s;
}

.contactInfo {
	display: flex;
	justify-content: start;
	margin: 0px;
	padding: 2% !important;
}

.sendBtn {
	display: flex;
	align-self: center;
	justify-content: center;
	width: 100%;
	background-color: #f5f5f5;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #999;
}

.sendBtn span {
	font-weight: bold;
}
.mapDetailService {
	z-index: 1;
	border: 3px solid #e91e63;
	height: 200px;
	width: 120%;
	display: inline-flex;
}

.marker {
	z-index: 2;
}

.detailCard {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
	padding: 0.5%;
	width: 100%;
}

.contactInfo {
	flex: 1;
	max-width: 50%;
	display: flex;
	flex-direction: row;
	margin-left: -1.5%;
	gap: 45px;
}

.contactAndMessageDiv {
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin-left: 1.5%;
	margin-right: 5%;
}

.sendMessage {
	margin-bottom: -1.9%;
}

.cardButtonDiv {
	align-self: flex-start;
	width: 102%;
	margin-bottom: -0.5%;
}
