<!--o-form
	#formRegister
	id="registerForm"
	service="users"
	entity="user"
	confirm-exit="no"
	undo-button="no"
	label-header="REGISTER"
	label-header-align="start"
	header-actions="i">
	<o-text-input attr="USER_"></o-text-input>
	<o-text-input attr="NAME"></o-text-input>
	<o-text-input attr="SURNAME"></o-text-input>
	<o-text-input attr="EMAIL"></o-text-input>
	<o-text-input attr="NIF"></o-text-input>
	<o-text-input attr="PASSWORD"></o-text-input>
</o-form-->

<!--atributo del o-form: message-service-type="customMessageServiceTypeUser"-->
<!--atributo del password-input (segundo): [validators]="validatorsConfirmPasswordArray"-->

<o-form
	class="login-form"
	#registerForm
	mode="dialog"
	(onFormModeChange)="forceInsertMode($event)"
	(onInsert)="closeDialog($event)"
	service="users"
	entity="user"
	show-header="no">
	<o-row>
		<o-column title="USER_REGISTER" class="login-column">
			<o-row>
				<o-text-input class="input-padding" attr="name" width="250px" required="yes"></o-text-input>
			</o-row>
			<o-row>
				<o-text-input
					class="input-padding"
					attr="surname"
					width="250px"
					required="yes"></o-text-input>
			</o-row>
			<o-row>
				<o-nif-input attr="nif" class="input-padding" width="250px" required="yes"></o-nif-input>
			</o-row>
			<o-row>
				<o-email-input attr="email" width="250px"></o-email-input>
			</o-row>
			<o-row>
				<o-text-input
					class="input-padding"
					attr="user_"
					required="yes"
					width="250px"></o-text-input>
			</o-row>
			<o-row>
				<o-password-input
					class="input-padding"
					attr="password"
					required="yes"
					width="250px"
					show-password-button="yes"
					(onChange)="reviewMatches($event)"></o-password-input>
			</o-row>
			<o-row>
				<o-password-input
					class="this.className"
					attr="confirm_password"
					width="250px"
					required="yes"
					show-password-button="yes">
					<o-validator
						error-name="passwordsNotMatched"
						error-text="Password must match"></o-validator>
				</o-password-input>
			</o-row>
			<div class="ontimize-buttons">
				<o-button
					attr="basic1"
					type="STROKED"
					label="CANCELAR"
					layout-padding
					color="primary"
					(click)="closeDialog()"></o-button>
				<o-button
					attr="basic1"
					type="STROKED"
					label="REGISTRAR"
					layout-padding
					color="primary"
					(click)="send()"></o-button>
			</div>
		</o-column>
	</o-row>
</o-form>
