<div class="form-container">
	<o-form
		#agreementFormClient
		entity="agreement"
		service="agreements"
		keys="AG_ID"
		undo-button="no"
		editable-detail="no"
		keys-sql-types="INTEGER"
		show-header-navigation="yes"
		label-header="AGREEMENT_DETAIL"
		label-header-align="start"
		(onDataLoaded)="onDataLoaded($event)">
		<o-text-input attr="AG_ACCEPTED" hidden></o-text-input>
		<div class="form-group">
			<o-integer-input attr="C_ID" hidden></o-integer-input>
			<o-textarea-input
				attr="AG_DESCRIPTION"
				id="observaciones"
				name="observaciones"
				rows="3"
				read-only="yes"></o-textarea-input>
		</div>
		<div class="form-group">
			<div class="price-input">
				<o-real-input
					attr="AG_PRICE"
					type="number"
					id="precio"
					name="precio"
					read-only="yes"></o-real-input>
				<span class="euro-symbol">€</span>
			</div>
		</div>
		<div class="content-buttons" *ngIf="showAccept">
			<o-button
				class="accept-button"
				(click)="acceptOffer()"
				attr="raised1"
				type="RAISED"
				label="ACCEPT"
				layout-padding
				color="primary"
				layout-padding></o-button>
			<o-button
				class="decline-button"
				(click)="declineOffer()"
				attr="raised1"
				type="RAISED"
				label="DECLINE"
				layout-padding
				color="warn"
				layout-padding></o-button>
		</div>
	</o-form>
</div>
