/* You can add global styles to this file, and also import other style files */

.mat-button,
.mat-flat-button,
.mat-icon-button,
.mat-raised-button,
.mat-stroked-button {
	display: none;
}

.o-table .mat-table .mat-row:hover:not(.o-table-group-row) {
	background: rgba(0, 0, 0, 0);
}

div#newAgreement button[attr="update"] {
	display: none !important;
}

.mat-toolbar-tools div {
	padding-left: 1% !important;
}

div.serviceDetailContainer ng-host {
	overflow: hidden;
}

div.serviceDetailContainer div.o-container-scroll.o-scroll {
	overflow: hidden;
}

div.announcesHomeContainer div.o-container-scroll.o-scroll {
	overflow: hidden !important;
}

.announcesHomeContainer .mat-content span.ng-star-inserted {
	font-weight: bold;
	font-size: 20px !important;
}

.agreementsHistoryContainer {
	margin-top: 1.5%;
}

.percentageDiv ng-host.scrolling.o-scroll {
	overflow: hidden;
}

.alert-content mat-icon {
	display: none;
}
