.btn-style {
	color: black;
	background-color: #b0d5e6;
	border-radius: 10px;
	width: auto;
	margin-left: 25px;
	margin-right: 25px;
}
.btn-style:hover {
	background-color: #b0d5e6;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
}
