<div class="form-container" id="agreementDetail">
	<o-form
		#agreementForm
		entity="agreement"
		service="agreements"
		keys="AG_ID"
		undo-button="no"
		header-actions="D"
		editable-detail="no"
		keys-sql-types="INTEGER"
		show-header-navigation="yes"
		label-header="AGREEMENT_DETAIL"
		label-header-align="start"
		(onDataLoaded)="imClient($event)">
		<div class="form-group">
			<o-integer-input attr="C_ID" hidden></o-integer-input>
			<o-textarea-input
				attr="AG_DESCRIPTION"
				id="observaciones"
				name="observaciones"
				rows="3"
				read-only="yes"></o-textarea-input>
		</div>
		<div class="form-group">
			<div class="price-input">
				<o-real-input
					attr="AG_PRICE"
					type="number"
					id="precio"
					name="precio"
					read-only="yes"></o-real-input>
				<span class="euro-symbol">€</span>
			</div>

			<o-text-input
				[ngClass]="{
					'status-accepted': status === 'ACCEPTED',
					'status-declined': status === 'DECLINED',
					'status-pending': status === 'PENDING'
				}"
				class="status"
				attr="AG_ACCEPTED"
				label="STATUS_OFFR"
				[data]="status | oTranslate"></o-text-input>
		</div>
	</o-form>
</div>
